body {
  background-color: white;
  font-family: 'Roboto';
  color: rgb(34, 7, 1);
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

body > * {
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Roboto';
}

h2 {
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 20px;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

a, a:visited, a:active {
  color: #c4953a;
}

a.button {
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid;
  color: #3b0a00;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 300;
  width: 100%;
  display: block;
}

a.button:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
}

pre {
  background-color: white;
  line-height: inherit;
  color: black;
  border: none;
  border-radius: 0;
}

pre span.k {
  color: black;
  font-weight: bold;
}

pre span.s {
  color: #c4953a;
  font-weight: bold;
}

pre span.n {
  color: #445588;
  font-weight: bold;
}

p code {
  color: black;
  background-color: #f6f2eb;
}

header {
  background-color: #2e0801;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header img {
  width: 142px;
}

.container {
  padding: 25px 0;
}

section.dark {
  background-color: #f5f5f5;
}

footer a, footer a:visited {
  font-size: 2em;
  color: #5f3832;
}

footer a:hover {
  color: #c4953a;
}

.sm-link {
  font-size: 100%;
}

.sm-gist .gist-file .gist-data {
  height: 256px;
}

.code-preview {
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 0;
  opacity: 0.045;
  font-size: 12px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 0px;
}

#canvas {
  position: absolute;
  left: calc(50% - 128px);
  top: 6px;
  user-select: none;
}

.gist-meta {
  display: none;
}

.text-logo {
  font-size: 52px;
}
