{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    },
    "browser": {
      "plugins": ["external-helpers"]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "modules": false,
        "loose": true,
        "debug": false
      }
    ]
  ],
  "plugins": [
  ]
}